link, visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

hover, active {
  background-color: red;
}

.disabled-link {
  pointer-events: none;
}